<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer's Diagnosis with AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="intro-content">
            <h1 id="tagline">Early Detection, Brighter Tomorrow:<br>Empowering Alzheimer's Diagnosis with AI</h1>
            <button id="tryButton">TRY IT</button>
        </div>
        <div class="description-content">
            <p id="description">Our model helps in Alzheimer’s diagnosis by analyzing CT scan images or your previous medical data. In no way do we claim that the model is providing 100 percent accuracy, so it’s always better to reach out to a professional.</p>
            <div class="button-container">
                <button id="loginBtn">Log In</button>
                <button id="signupBtn">Sign Up</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
